<div class="form-wrapper">
<%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
<div class="form-group"> 
  <%= f.input :image %>
  <%= f.input :audio %>
  </div>
  <div class="form-group text-center">
  <%= f.input :title %>
  <%= f.input :hashtags %>
  <%= f.input :description %>
  <%= f.input :youtube %>
  <%= f.input :soundcloud %>
  <%= f.input :itunes %>
  <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>

